body {
  background-color: #d2d3d6;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  height: auto;
}

/*PAGE ONE */

#logo {
  height: 140px;
  float: left;
  margin: 30px 0px 45px 35px;
}
#Grape1 {
  width: 580px;
  height: 300px;
  margin-top: -60px;
  margin-left: -5px;
}
#Grape1Flipped {
  width: 580px;
  height: 300px;
  float: right;
  margin-top: -60px;
}
#ourcompany {
  margin-top: 50px;
  clear: both;
}
.container-colored {
  background-color:  #e9eef5;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}
.company-info-container {
  margin-top: 20px;
  height: auto;
  padding-bottom: 20px;
  background-color:  #e9eef5;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  border-radius: 3px;
  padding-top: 10px;
  text-align: center;
}
.company-info {
  margin-top: 60px;
  margin-bottom: 40px;
}

#ourcompany p {
  line-height: 1.5em;
  font-family: "Poppins";
  color: #1a1a1a;
}

h2 {
  text-align: center;
  font-family: "Amita", cursive;
  font-size: 34px;
  color: #421c52;
}
.KarriePic {
  width: 300px;
  height: 300px;
}
.company-info {
  margin-top: 60px;
  margin-bottom: 40px;
}
/*PAGE TWO*/

#ourservices {
  margin-top: 50px;
  clear: both;
}
#Grapevine3flipped {
  width: 650px;
  height: 240px;
  margin-top: -50px;
}
#Grapevine3 {
  width: 650px;
  height: 240px;
  float: right;
  margin-top: -50px;
}
.services-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.serviceBox {
  height: 600px;
  width: 350px;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #484f4f;
  background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  text-align: center;
}
.servimg {
  width: 350px;
  height: 200px;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #d9d9d9;
}
.serviceBox p {
  color: white;
  font-family: "Poppins";
  line-height: 1.2em;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

/*PAGE THREE*/

#ourclients {
  padding-bottom: 60px;
}
#wrapper {
  width: 100%;
  height: 350px;
}
#container {
  width: 1000px;
	overflow: hidden;
	margin: 50px auto;
  padding-top: 10px;
}
.photobanner {
  height: 233px;
	width: 3550px;
	margin-bottom: 80px;
}
.photobanner img {
  width: 220px;
  height: 220px;
  margin-right: 15px;
  border-radius: 3px;
}

/*FOOTER*/

#wine-barrel {
  width: 600px;
  height: 600px;
  margin-left: 35%;
}
h4 {
  font-size: 39px;
  font-family: "Amita", cursive;
  color: #421c52;
  z-index: 999;
  margin-top: -405px;
  margin-left: 39%;
  text-shadow: 2px 2px 4px gray;
}
footer p {
  font-size: 19px;
  color: #421c52;
  margin-left: 40%;
  margin-top: 20px;
  z-index: 999;
  text-shadow: 2px 2px 4px gray;
  font-weight: 900;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1300px) {
  #Grapevine3flipped {
    width: 600px;
    height: 220px;
  }
  #Grapevine3 {
    width: 600px;
    height: 220px;
  }
}
@media only screen and (max-width: 1200px) {
  #Grape1 {
    width: 500px;
    height: 300px;
  }
  #Grape1Flipped {
    width: 500px;
    height: 300px;
  }
  #Grapevine3flipped {
    width: 500px;
    height: 200px;
  }
  #Grapevine3 {
    width: 500px;
    height: 200px;
  }
  #wine-barrel {
    width: 550px;
    height: 550px;
    margin-left: 34%;
  }
  h4{
    font-size: 37px;
    margin-top: -385px;
  }
}
@media only screen and (max-width: 1000px) {
  #Grape1 {
    width: 400px;
    height: 270px;
  }
  #Grape1Flipped {
    width: 400px;
    height: 270px;
  }
  #Grapevine3flipped {
    display: none;
  }
  #Grapevine3 {
    display: none;
  }
  #wine-barrel {
    width: 200px;
    height: 200px;
    margin-left: 2%;
    margin-top: 50px;
  }
  #contactus {
    margin-top: 100px;
  }
  h4 {
    margin-top: -170px;
  }
  #ourclients {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  #logo {
    height: 120px;
  }
  #Grape1 {
    display: none;
  }
  #Grape1Flipped {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  #logo {
    margin-left: 10%;
  }
  h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 525px) {
  #logo {
    margin-left: 6%;
  }
  #wine-barrel {
    width: 120px;
    height: 120px;
  }
  h4{
    font-size: 32px;
  }
  footer p {
    font-size: 16px;
  }
}
/*ANIMATION BANNER*/
.first {
  -webkit-animation: bannermove 30s linear infinite;
  animation: bannermove 30s linear infinite;
}
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 @-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}
